@import url('https://use.typekit.net/rmu5qvo.css');

html,
body {
  margin: 0;
  height: 100%;
  font-family: europa, sans-serif;
}

/*
Loading Progress Bar Css
*/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(160, 12, 242);
  background: linear-gradient(
    90deg,
    rgba(160, 12, 242, 1) 0%,
    rgba(16, 126, 255, 1) 100%
  );

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cl-rootBox {
  padding-bottom: 24px;
}

.cl-card {
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
  margin-bottom: 24px;
  border-radius: 8px;
}

h1[data-localization-key='userProfile.start.headerTitle__account'] {
  display: none;
}

/** Moving Gradients CSS for login page **/

.moving-gradient {
  background: linear-gradient(-45deg, #3d138d, #e73c7e, #23a6d5, #1f36aa);
  background-size: 500% 500%;
  -webkit-animation: Gradient 25s ease-in-out infinite;
  -moz-animation: Gradient 25s ease-in-out infinite;
  animation: Gradient 25s ease-in-out infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

label span {
  font-size: 14px;
}

::selection {
  background: #ffb7b7; 
}
::-moz-selection {
  background: #ffb7b7;
}
